.App {
  text-align: center;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #ffaf00, #bb02ff);
  background-attachment: fixed;
}

.container {
  position: relative;
  width: 1150px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .card {
  position: relative;
  width: 300px;
  height: 420px;
  background: #fff;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  /* transition: 0.5s; */
}

.container .card .img {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffaf00;
  clip-path: circle(180px at center 0);
  text-align: center;
}

img {
  margin-top: 20px;
  border-radius: 50%;
  border: 2px solid whitesmoke;
}
.container .card .content {
  position: absolute;
  bottom: 10px;
  padding: 20px;
  /* page-break-after: 20px; */
  text-align: center;
}
.container .card .content h5 {
  color: #666;
  margin: 10;
}
.container .card .content p {

  color: #666;
  font-size: 14px;
  text-align: left;
}

.container .card .content ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
}

li {
  text-align: left;

}
.container .card .content button {
  position: absolute;
  /* display: inline-block; */
  padding: 10px;
  background: #bb02ff;
  color: #fff;
  border-radius: 40px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  margin: 0;
  bottom: 5px;
  transform: translateY(-50%);
}
